.page-one {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 1200px;
  align-items: center;

}

.page-one > .left-box {
  position: absolute;
  width: 100%;
}

.page-one > .right-box {
  background-image: url('../img/profile.jpeg');
  opacity: 0.5;
  background-size: cover;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
